@{ 

    Layout = null;
}
<hr />
<div class="container" id="panelBar">
   
    <input class="btn btn-outline-success " type="submit" name="saveButton" id="btnSave" value="Save" />
    
    <input class="btn btn-outline-warning " type="submit" name="editButton" id="btnEdit" value="Edit" />
    
    <input class="btn btn-outline-danger " type="button" name="deleteButton" id="btnDelete" value="Delete" />
    
    <input class="btn btn-outline-info " type="button" name="refreshButton" id="btnRefresh" value="Refresh" />
    
</div>
<hr />