@{ 

    Layout = null;
}

<div class="row form-groups" id="panelBar">
   
    <input class="btn btn-success col-sm-2" type="submit" name="saveButton" id="btnSave" value="Save" />
    
    <input class="btn btn-warning col-sm-2" type="submit" name="editButton" id="btnEdit" value="Edit" />
    
    <input class="btn btn-danger col-sm-2" type="button" name="deleteButton" id="btnDelete" value="Delete" />
    
    <input class="btn btn-info col-sm-2" type="button" name="refreshButton" id="btnRefresh" value="Refresh" />
    
</div>