
@{
    ViewBag.Title = "Index";
    ViewBag.HeaderName = "Home";
}



<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>My Online Shop</h1>
    <p>Buy Online !</p>
    <hr />
    <div class="card-deck">
        <div class="card bg-light">

            <div class="card-body">
                <h4 class="card-title">Product Category Management</h4>
                <p class="card-text">Some example text.</p>
                @Html.ActionLink("Go to consule", "ProductCategory", "ProductCategory", new { area = "" }, new { @class = "btn btn-primary " })

            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Product Management</h4>
                <p class="card-text">Some example text.</p>
                @Html.ActionLink("Go to consule", "Product", "Product", new { area = "" }, new { @class = "btn btn-primary " })

            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Customer Management</h4>
                <p class="card-text">Some example text.</p>
                @Html.ActionLink("Go to consule", "Customer", "Customer", new { area = "" }, new { @class = "btn btn-primary " })

            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Order Management</h4>
                <p class="card-text">Some example text.</p>
                @Html.ActionLink("Go to consule", "Order", "Order", new { area = "" }, new { @class = "btn btn-primary " })

            </div>
        </div>
    </div>
</div>



